*{
    margin: 0%;
    padding: 0%;

}
.a{ height: 118px;
    background-color: black;
    font-size: 20px;
    text-align: center;
    color: aliceblue;

}
.b{ 
    height: 145px;
    background-color: blueviolet;
    font-size: 30px;
    text-align: center;
    color: chartreuse;

}
.c{
    display: flex;
    height: 400px;


}
.d{ 
    width: 20%;
    background-color: aqua;
    font-size: 20px;
    color: crimson;
    text-align: center;


}
.e{ 
    width: 60%;
    background-color:yellow;
    font-size: 20px;
    color:darkblue;
    text-align: center;

}
.f{
    width: 20%;
    background-color: lightcoral;
    font-size: 20px;
    color: crimson;
    text-align: center;

}
.g{ 
    height: 110px;
    background-color:firebrick;
    color: black;
    font-size: 20px;
    text-align: center;

}